.card-container{
    width:300px;
    border:1px solid gray;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    border-radius: 10px;
    background:#c2c8db;
    opacity: .75;
    



}

ul{
    list-style: none;
}

li{
    padding:2px;
}

.card-container:hover{
    opacity: 1;
    cursor: pointer;
}

