.pageNav-cont{
    margin:0px auto;
    width:900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button{
    margin:10px;
    border:none;
    border-radius: 10px;
    background:black;
    opacity: .75;
    color: white;
    height:50px;
    width:100px;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}